---

- name: install | consul agent | Check agent binary
  stat:
    path="{{ consul_bin_dir }}/consul-{{consul_agent_version}}"
  register: consul_agent_version_binary

- name: install | consul agent | Ensure download directory exists
  file:
    path="{{ consul_tmp_dir }}/consul-{{ consul_agent_version }}"
    state=directory
    mode=0755

- name: install | consul agent | Download and unpack consul archive (if needed)
  unarchive:
    src="{{ consul_agent_download_url }}"
    dest="{{ consul_tmp_dir }}/consul-{{ consul_agent_version }}/"
    copy=false
    owner="{{ consul_user }}"
  register: agent_download
  ignore_errors: true
  when: not consul_agent_version_binary.stat.exists

- name: install | consul agent | Download and unpack consul archive (if needed with curl)
  shell: |
          curl {{ consul_agent_download_url }} -o {{ consul_tmp_dir }}/consul-{{ consul_agent_version }}/consul-template.zip
          unzip {{ consul_tmp_dir }}/consul-{{ consul_agent_version }}/consul.zip -d {{ consul_tmp_dir }}/consul-{{ consul_agent_version }}/
  when: agent_download | failed

- name: install | consul agent | link binary (if needed)
  command: mv {{ consul_tmp_dir }}/consul-{{ consul_agent_version }}/consul {{ consul_bin_dir }}/consul-{{consul_agent_version}}
  when: not consul_agent_version_binary.stat.exists
  notify:
    - restart consul service

- name: install | consul agent | Check target file
  stat:
    path="{{ consul_bin_dir }}/consul"
  register: consul_agent_target_link

- name: install | consul agent | Remove target file (if not symlink)
  file:
    path="{{ consul_bin_dir }}/consul"
    state="absent"
  when: not consul_agent_target_link.stat.islnk is defined or not consul_agent_target_link.stat.islnk

- name: install | consul agent | Consul link binary
  file:
    src="{{ consul_bin_dir }}/consul-{{consul_agent_version}}"
    dest="{{ consul_bin_dir }}/consul"
    state="link"
  notify:
    - restart consul service

- name: install | consul agent | Ensure consul configuration is deployed
  template:
    src="consul-agent.json.j2"
    dest="{{ consul_config_agent_file }}"
    owner="{{ consul_user }}"
    group="{{ consul_group }}"
    mode="0640"
  notify:
    - restart consul service

- name: install | consul agent | Ensure consul run script is deployed
  template:
    src="consul-agent-run.sh.j2"
    dest="{{ consul_bin_dir }}/consul_agent_run.sh"
    owner="{{ consul_user }}"
    group="{{ consul_group }}"
    mode="0755"
  notify:
    - restart consul service

- name: install | consul agent | Ensure consul init.d script is deployed
  template:
    src="consul-init.d.sh.j2"
    dest="/etc/init.d/consul"
    owner="{{ consul_user }}"
    group="{{ consul_group }}"
    mode="0755"
  when: "consul_service == 'service'"
  notify:
    - restart consul service

- name: install | consul agent | Ensure consul s6 service directory exisit
  file:
    path="{{ consul_s6_servicedir }}/consul"
    state="directory"
    mode=0755
  when: "consul_service == 's6'"

- name: install | consul agent | Ensure consul s6 script is deployed
  template:
    src="consul-s6.j2"
    dest="{{ consul_s6_servicedir }}/consul/run"
    owner="{{ consul_user }}"
    group="{{ consul_group }}"
    mode="0755"
  when: "consul_service == 's6'"
  notify:
    - restart consul service
