{
  "node_name": "{{ consul_node_name }}",
  "bind_addr": "{{ consul_network_bind }}",
  "datacenter": "{{ consul_datacenter }}",
  "client_addr": "{{ consul_client_addr }}",
  "domain": "{{ consul_domain }}",
  "data_dir": "{{ consul_data_dir }}",
  "log_level": "{{ consul_log_level }}",
  "enable_syslog": {{ consul_log_syslog | to_json  }},
  "rejoin_after_leave": {{ consul_rejoin_after_leave | to_json }},
  "datacenter": "{{ consul_datacenter }}",
{% if consul_ui == true %}
  "ui_dir": "{{ consul_ui_dir }}",
{% endif %}
{# Either use consul_start_join or consul_retry_join #}
{% if consul_retry_join is defined and consul_retry_join %}
  "retry_join": {{ consul_servers_list | to_json }},
  "retry_interval": "{{ consul_retry_interval }}",
  "retry_max": {{ consul_retry_max }},
{% elif consul_start_join is defined and consul_start_join %}
  "start_join": {{ consul_start_join | to_json }},
{% endif %}

{# Ports #}
  "ports": {
    "rpc": {{ consul_rpc_port }},
    "http": {{ consul_ui_http_port }},
    "https": {{ consul_ui_https_port }},
    "server": {{ consul_server_port_server }}
  },

{% if consul_encrypt is defined %}
  "encrypt": "{{ consul_encrypt }}",
{% endif %}
{% if consul_server %}
  "server": {{ consul_server | to_json }},
{% if consul_bootstrap_expect is defined %}
  "bootstrap_expect": {{ consul_bootstrap_expect | default(1) }},
{% endif %}
{% endif %}
  "leave_on_terminate": {{ consul_leave_on_terminate | to_json }}
}
