#!/bin/sh
NAME="consul-template"
CONSUL_CONFIG_DIR="{{ consul_config_template_file }}"
CONSUL_LOG_FILE="{{ consul_template_log_file }}"
CONSUL_BIN="{{ consul_bin_dir }}"

# Run 
${CONSUL_BIN}/${NAME} -config=/etc/consul-template.conf > $CONSUL_LOG_FILE 2>&1

exit $?
