#!/bin/sh

LOG_FILE="{{ consul_template_log_file }}"

## Log to consul template
log(){
    echo "$(date) ${1}" >> "${LOG_FILE}"
}

## Check HA Proxy conig
HA_PROXY_CONFIG_ERROR=$( haproxy -f /etc/haproxy/haproxy.cfg -c 2>&1 )
HA_PROXY_RC="$?"
if [ "${HA_PROXY_RC}" != "0" ]; then
    log "HAProxy configtest failure"
    log "${HA_PROXY_CONFIG_ERROR}"
    exit 1
fi

## Reload HA Proxy
{% if consul_service == "service" %}
HA_PROXY_ERROR=$( sudo /usr/sbin/service haproxy reload 2>&1 )
{% elif consul_service == "s6" %}
# https://www.mail-archive.com/supervision@list.skarnet.org/msg01213.html
# TODO in s6 we must check config file
HAPROXY_CURRENT=$(readlink /haproxy-current)
HAPROXY_ALT=$(readlink /haproxy-alt)

s6-svc -O ${HAPROXY_CURRENT}
s6-svc -u ${HAPROXY_ALT}
HA_PROXY_ERROR=$(s6-svok  ${HAPROXY_ALT})

ln -sfn $HAPROXY_ALT /haproxy-current
ln -sfn $HAPROXY_CURRENT /haproxy-alt
{% endif %}
HA_PROXY_RC="$?"
if [ "${HA_PROXY_RC}" != "0" ]; then
    log "HAProxy reload failure"
    log "${HA_PROXY_ERROR}"
    exit 1
fi

log "HAProxy reloaded successfully"
exit 0
